<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title> Update Personal Detail </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.css" />


    <!-- Custom styles for this template -->
    <link href="../static/content/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href=".../static/content/responsive.css" rel="stylesheet" />

    <script>
        function Previous() {
            window.history.back()
        }
    </script>

</head>

<body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="../static/images/hero-bg.jpg" alt="">
        </div>
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/Admin_Main">
                        <span>
                            Hospital
                        </span>
                    </a>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto no-bullets" style="padding-left:700px; padding-top:15px;">
              
              <li class="nav-item">
                  <a class="nav-link" onclick="window.location.href='/LogoutController'">Log Out</a>
                
              </li>
            </ul>
            
          </div>
                </nav>
            </div>
        </header>
    </div>
    <section class="form_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Update Patient's Credentials
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% for personalDetail in userA %}
                    <div class="form_container">
                        <form method="post" action="/AdminChangePatientCredentialsController">
                            <div>
                                <label>Name: </label>
                                <input type="text" class="form-control" name="name" id="name" pattern="[a-zA-Z]+" value = "{{ personalDetail.name }}" />
                            </div>
                            <div>
                                <label>NRIC: </label>
                                <input type="text" class="form-control" name="nric" id="nric" value={{ personalDetail.nric }} readonly/>
                            </div>
                            <div>
                                <label>Age: </label>
                                <input type="number" class="form-control" name="age" id="age" min="1" max ="100" value={{ personalDetail.age }} />
                            </div>
                            <div>
                                <label>Gender: </label>
                                <select class="form-control" name="gender" id="gender">
                                    <option value="{{ personalDetail.gender }}">{{ personalDetail.gender }}</option>
                                    {% if personalDetail.gender == "Male" %}
                                        <option value="Female">Female</option>
                                    {% endif %}
                                    {% if personalDetail.gender == "Female" %}
                                        <option value="Male">Male</option>
                                    {% endif %}

                                </select>
                            </div>
                            <div>
                                <label>Username: </label>
                                <input type="text" class="form-control" name="username" id="username" pattern="[a-zA-Z0-9-]+" title="Must not contain symbols" value={{ personalDetail.username }} />
                            
                            </div>
                            <div>
                                <label>Password: </label>
                                <input type="password" class="form-control" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" value={{ personalDetail.password }} />
                            </div>
                            <div class="btn_box">
                                <button class="yellow-button" type="submit">
                                    Save Changes
                                </button>
                            </div>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="btn_box">
                <button class="yellow-button" onclick="Previous()">
                    Back
                </button>
            </div>
        </div>
    </section>



</body>

</html>