<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="../images/favicon.png" type="">

    <title> Change patient credentials </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.css" />

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="../static/content/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="../images/hero-bg.jpg" alt="">
        </div>
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/Customer">
                        <span>
                            Changing for patient credentials
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mx-auto" style="padding-left:700px">

                            <li class="nav-item">
                                <a class="nav-link" onclick="window.location.href='/LogoutController'">Log Out</a>

                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </header>
    </div>


    <section class="image_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Changing for this patient?
                </h2>
            </div>


            <br />
            <div id="menu" class="heading_container heading_center">
                <h5 style="padding-top: 10px;">
                    Please select the patient name:

                </h5>

                <form action="/CustomerSearchMenuItemController" method="post">
                    <div>
                        <input type="text" class="form-control" placeholder="Search Patient" />

                    </div>
                    <div>
                        <button class="yellow-button" type="submit">
                            Search
                        </button>
                    </div>


                </form>
            </div>

            <br />
            <br />

            <ul class="filters_menu" style="margin: 5px 0 20px 0;">
            </ul>

            <div class="filters-content">
                <div class="row grid">

                </div>
            </div>

            <div id="cart" style="padding-top: 50px;" class="heading_container heading_center">
                <h3>
                    All patients credentials
                </h3>
            </div>


            <div class="container">
                <div class="patients">
                    Patient A
                    <h5> S123123A </h5>
                    <button class="yellow-button">Select</button>
                </div>
                <div class="patients">
                    Patient B
                    <h5> S123123B </h5>
                    <button class="yellow-button">Select</button>
                </div>
                <div class="patients">
                    Patient C
                    <h5> S123123C  </h5>
                    <button class="yellow-button">Select</button>
                </div>
                <div class="patients">
                    Patient D
                    <h5> S123123D  </h5>
                    <button class="yellow-button">Select</button>
                </div>

            </div>

            <br />
            <br />
            <div class="form_container">
                <form action="/CustomerPlaceOrderController" method="post">
                    <div style="padding-top: 50px;" class="heading_container heading_center">
                        <h3>
                            Patient's Personal information
                        </h3>
                        <br />
                        <label>
                            Name:
                            <input type="text" style="width:300px" class="form-control" name="patientname" placeholder="Changing current patient's name ">
                            <br />
                        </label>
                        <label>
                            Identification Number:
                            <input type="text" style="width:300px" class="form-control" name="patientID" placeholder="Changing current patient's ID number">
                            <br />
                            <br />
                        </label>
                        <label>
                            Phone Number:
                            <input type="text" style="width:300px" class="form-control" name="patientPhone" placeholder="Changing current patient's Phone numbers">
                            <br />
                            <br />
                        </label>
                        <label>
                            Address:
                            <input type="text" style="width:300px" class="form-control" name="patientAdr" placeholder="Changing current patient's address">
                            <br />
                            <br />
                        </label>
                        <label>
                            User Name:
                            <input type="text" style="width:300px" class="form-control" name="patientsUsername" placeholder="enter the new username">
                            <br />
                            <br />
                        </label>
                        <label>
                            Password:
                            <input type="text" style="width:300px" class="form-control" name="patientPW" placeholder="enter the new password">
                            <br />
                            <br />
                        </label>
                        <div>
                            <h3>Would you like to save all the changes??</h3>
                            <br />
                        </div>

                    </div>

                    <div style="margin:auto" class="heading_container heading_center">
                        <button class="yellow-button" type="submit">
                            Save all changes
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </section>
    <span id="displayYear"></span>



    <!-- jQuery -->
    <script src="../js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="../js/bootstrap.js"></script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- custom js -->
    <script src="../js/custom.js"></script>

    <script>


            .container {
                display: flex;
                flex - wrap: wrap;
            }
.container.patients {
                flex: 1 0 33 %;
                height: 50px;
                border: 1px solid black;
            }
    </script>
</body>

</html>
