<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title> Get Queue Number </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.css" />


    <!-- Custom styles for this template -->
    <link href="../static/content/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href=".../static/content/responsive.css" rel="stylesheet" />

    <script>
        function Previous() {
            window.history.back()
        }

        var seq = 0;
        function getQueueNumber() {
            seq = seq + 1;
            document.getElementById("queueNumber").value = seq;
        }
    </script>

</head>

<body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="../static/images/hero-bg.jpg" alt="">
        </div>
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/Patient_Main">
                        <span>
                            Hospital
                        </span>
                    </a>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mx-auto no-bullets" style="padding-left:700px; padding-top:15px;">
              
                          <li class="nav-item">
                              <a class="nav-link" onclick="window.location.href='/logout'">Log Out</a>
                
                          </li>
                        </ul>
            
                      </div>
                </nav>
            </div>
        </header>
    </div>
    <section class="form_section layout_padding">
        <div class="container">
            <section class="queueNumber_section layout_padding2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="img-box">
                                <img src="{{ url_for('video_feed') }}" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="detail-box">
                                <div class="heading_container">
                                    <h1>
                                        Scan Your Face!
                                    </h1>
                                    <h4>
                                        First, position your face towards the camera. Then, press the capture button to log in to the system.
                                    </h4>
                                </div>
                                <form method="post" action="{{ url_for('QueueNumberController') }}">
                                    <button class="yellow-button" type="submit">
                                        Capture
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form method="post" action="/PatientQueueNumber">
                            <div>
                                <label>Upload Image: </label>
                                <input type="file" class="form-control" name="uploadImage" id="uploadImage" placeholder="Upload Image" />
                            </div>
                            <div>
                                <label>Your Queue Number: </label>
                                <input type="text" class="form-control" name="queueNumber" id="queueNumber" disabled />
                            </div>
                            <div class="btn_box">
                                <button class="yellow-button" onclick="getQueueNumber()">
                                    Get Queue Number Now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="btn_box">
                <button class="yellow-button" onclick="Previous()">
                    Back
                </button>
            </div>
        </div>
    </section>



</body>

</html>