<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title> Update Personal Detail </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.css" />


    <!-- Custom styles for this template -->
    <link href="../static/content/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href=".../static/content/responsive.css" rel="stylesheet" />

    <script>
        function Previous() {
            window.history.back()
        }
        function ClearFields() {
            document.getElementById("name").value = "";
            document.getElementById("nric").value = "";
            document.getElementById("age").value = "";
            document.getElementById("gender").value = "";
            document.getElementById("username").value = "";
            document.getElementById("password").value = "";
        }
    </script>

</head>

<body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="../static/images/hero-bg.jpg" alt="">
        </div>
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/Patient_Main">
                        <span>
                            Hospital
                        </span>
                    </a>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mx-auto no-bullets" style="padding-left:700px; padding-top:15px;">

                            <li class="nav-item">
                                <a class="nav-link" onclick="window.location.href='/logout'">Log Out</a>

                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </header>
    </div>
    <section class="form_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Update Personal Detail
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% for personalDetail in userA %}
                    <div class="form_container">
                        <form method="post" action="/PatientUpdatePersonalDetailController">
                            <div>
                                <label>Name: </label>
                                <input type="text" class="form-control" name="name" id="name" value = "{{ personalDetail.name }}" />
                            </div>
                            <div>
                                <label>NRIC: </label>
                                <input type="text" class="form-control" name="nric" id="nric" value={{ personalDetail.nric }} />
                            </div>
                            <div>
                                <label>Age: </label>
                                <input type="text" class="form-control" name="age" id="age" value={{ personalDetail.age }} disabled />
                            </div>
                            <div>
                                <label>Gender: </label>
                                <input type="text" class="form-control" name="gender" id="gender" value={{ personalDetail.gender }} disabled />
                            </div>
                            <div>
                                <label>Username: </label>
                                <input type="text" class="form-control" name="username" id="username" value={{ personalDetail.username }} />
                            </div>
                            <div>
                                <label>Password: </label>
                                <input type="password" class="form-control" name="password" id="password" value={{ personalDetail.password }} />
                            </div>
                            <div>
                                <label>Upload Image: </label>
                                <input type="file" class="form-control" name="uploadImage" id="uploadImage" placeholder="Upload Image" />
                            </div>
                            <div class="btn_box">
                                <button class="yellow-button" onclick="window.location.href='/PatientUpdatePersonalDetailController'">
                                    Save Changes
                                </button>
                            </div>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="btn_box">
                <button class="yellow-button" onclick="ClearFields()">
                    Discard Changes
                </button>
            </div>
            <div class="btn_box">
                <button class="yellow-button" onclick="Previous()">
                    Back
                </button>
            </div>
        </div>
    </section>



</body>

</html>