<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/images/favicon.png" type="">

  <title> Hospital </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.css" />



  <!-- Custom styles for this template -->
  <link href="../static/content/style.css?1422585377" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/content/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="../static/images/hero-bg.jpg" alt="">
    </div>
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/Patient_Main">
            <span>
              Hospital
            </span>
          </a>


          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mx-auto no-bullets" style="padding-left:700px; padding-top:15px;">

                  <li class="nav-item">
                      <a class="nav-link" onclick="window.location.href='/logout'">Log Out</a>

                  </li>
              </ul>
            
          </div>
        </nav>
      </div>
    </header>
  </div>

   <section class="image_section layout_padding">
    <div class="container">
            <div class="filters-content">
                <div class="row grid">

                <div class="col-sm-6">
                    <h2 style="text-align:center;">
                        Upcoming Appointments
                    </h2>
                        {% for appointment in userA %}
                    <div class="menubox">
                        <form action="{{ url_for('PatientCancelAppointmentController') }}" method="post">
                                <div class="detail-box">

                                    <p>Patient: {{ appointment.name }}</p>
                                    <p>NRIC: {{ appointment.nric }}</p>
                                    <p>Date of visit : {{ appointment.date_slot }}</p>
                                    <p>Time of visit : {{ appointment.app_time }}</p>
                                    <p>Reason of visit : {{ appointment.reason }}</p>
                                    <p>Department: {{ appointment.department }} </p>
                                    <p>Attending Doctor: {{ appointment.attending }}</p>
                                    <input type="hidden" name="appointment_id" value="{{ appointment.appointment_id }}">
                                    <button type="submit" class="white-button">Cancel</button>
                                </div>
                            </form>
</div>
                        {% endfor %}
                    </div>
                        
                <div class="col-sm-6">
                    <h2 style="text-align:center;">
                        Past Appointments
                    </h2>
                    {% for pastAppointment in userB %}
                    <div class="menubox">
                        <div class="detail-box">

                            <p>Patient: {{ pastAppointment['name'] }}</p>
                            <p>NRIC: {{ pastAppointment.nric }}</p>
                            <p>Date of visit : {{ pastAppointment.date_slot }}</p>
                            <p>Time of visit : {{ pastAppointment.app_time }}</p>
                            <p>Reason of visit : {{ pastAppointment.reason }}</p>
                            <p>Department: {{ pastAppointment.department }} </p>
                            <p>Attending Doctor: {{ pastAppointment.attending }}</p>

                        </div>

                    </div>
                    {% endfor %}
                    
                    <!-- col below -->
                </div>
               
                
                <!-- sdsd -->
            </div>
            </div>
        </div>
    </section>

  

  <!-- jQuery -->
  <!-- <script src="js/jquery-3.4.1.min.js"></script> -->
  <!-- bootstrap js -->
  <script src="../static/scripts/js/bootstrap.js"></script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- custom js -->
  <!-- <script src="js/custom.js"></script> -->
  

</body>

</html>