<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title> Hospital </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.css" />


  <!-- Custom styles for this template -->
  <link href="../static/content/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href=".../static/content/responsive.css" rel="stylesheet" />

  <script>
    function feedback() {
        alert("New medical record is created!");
    }
  </script>

</head>

<body class="sub_page">

    <div class="hero_area">
      <div class="bg-box">
        <img src="../static/images/hero-bg.jpg" alt="">
      </div>
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/HealthcareStaff_Main">
              <span>
                 Hospital
              </span>
            </a>
  
  
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto no-bullets" style="padding-left:700px; padding-top:15px;">
              
              <li class="nav-item">
                  <a class="nav-link" onclick="window.location.href='/logout'">Log Out</a>
                
              </li>
            </ul>
            
          </div>
          </nav>
        </div>
      </header>
    </div>
    <section class="form_section layout_padding">
        <div class="container">
          <div class="heading_container">
            <h2>
              Create Medical Record
            </h2>
          </div>
          <div class="row">
            <div class="col-md-6">
            {% for info in patientX[:1] %}
              <div class="form_container">
                <form  action="/StaffCreateMedicalRecordController" method="post" onsubmit="feedback()">
                  <div>
                      <label>Appointment ID: </label>
                      <input type="text" class="form-control" name="appointment_id" id="appointment_id"/>
                  </div>

                  <div>
                      <label>Username: </label>
                      <input type="text" class="form-control" name="username" id="username" value="{{ info.username }}" disabled />
                      <input type="hidden" class="form-control" name="username" id="username" value="{{ info.username }}" />
                  </div>
                  <div>
                      <label>Vaccination Status: </label>
                      <input type="text" class="form-control" name="vaccination_status" id="vaccination_status" value="{{ info.vaccination_status }}" disabled />
                      <input type="hidden" class="form-control" name="vaccination_status" id="vaccination_status" value="{{ info.vaccination_status }}" />
                  </div>

                  <div>
                      <label>Blood Pressure: </label>
                      <input type="text" class="form-control" name="blood_pressure" id="blood_pressure" />
                  </div>
                  <div>
                      <label>Temperature: </label>
                      <input type="text" class="form-control" name="temperature" id="temperature" />
                  </div>
                  <div>
                      <label>Heart Rate: : </label>
                      <input type="text" class="form-control" name="heart_rate" id="heart_rate" />
                  </div>
                  <div>
                      <label>Allergies: </label>
                      <input type="text" class="form-control" name="allergies" id="allergies" />
                  </div>
                  <div>
                    <label>Medicine: </label>
                    <input type="text" class="form-control" name="medicine" id="medicine" />
                  </div>
                  <div>
                    <label>Diagnosis: </label>
                    <input type="textarea" class="form-control" name="diagnosis" id="diagnosis" />
                  </div>
                  <div class="btn_box">
                      <button class="yellow-button">
                          Create Record
                      </button>
                  </div>
              </form>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
    </section>

  

</body>

</html>