<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../images/favicon.png" type="">

  <title> Hospital </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="../static/content/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/content/responsive.css" rel="stylesheet" />

  <style>
    main {
        max-width: max-content;
        margin: auto;
        font-family: Calibri;
      }

    table, th, td {
      border-collapse: collapse;
      color: white;
      background-color: black;
    }
    
    tr {
  border-bottom: 1px solid #ddd;
}
    
    table.center {
      margin-left: auto; 
      margin-right: auto;
    }
    </style>

</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="../static/images/hero-bg.jpg" alt="">
    </div>

    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/Customer">
            <span>
              Hospital
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto" style="padding-left:700px">
              <li class="nav-item">
                <a class="nav-link" onclick="window.location.href='/LogoutController'">Log Out</a>
            </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    
  </div>

  <div class="heading_container heading_center">
    <h1>
      View Appointments
    </h1>
  </div>

  
  <br/>

  <main>
  <form class="form" action="/AddToCartCustomer" method="post">
      <div class="menubox">
        <div class="detail-box">
            <h3 style="text-align: center;">
              David Genius
            </h3>
            <img src ="../static/images/portrait.png" style="width: 100px; length: 200px; display: block;
            margin-left: auto;
            margin-right: auto;">
            </br>
            <p style="text-align: center;">
              NRIC: T1234567P
            </p>
            <p style="text-align: center;">
              Date of Birth: 2021-12-24
            </p>
            <table class="center">
              <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Doctor</th>
                <th>Reason for Visit</th>
              </tr>
              <tr>
                <td>2022-06-30</td>
                <td>10:00 AM</td>
                <td>Dr. Hanson Greg</td>
                <td>Ear infection</td>
              </tr>
              <tr>
                <td>2022-07-14</td>
                <td>03:00 PM</td>
                <td>Dr. Hanson Greg</td>
                <td>Ear infection</td>
              </tr>
            </table>

            <div class="options">
              
              <button class="yellow-button-small" type="submit">
                Create Appointment
              </button>

            </div>
        </div>
      </div>
  </form>
  </main>

      <span id="displayYear"></span>
    
      
    
      <!-- jQuery -->
      <script src="../js/jquery-3.4.1.min.js"></script>
      <!-- bootstrap js -->
      <script src="../js/bootstrap.js"></script>
      <!-- isotope js -->
      <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
      <!-- custom js -->
      <script src="../js/custom.js"></script>
      
    
    </body>
    
    </html>