<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="../images/favicon.png" type="" />

    <title>Hospital</title>

    <!-- bootstrap core css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/content/bootstrap.css"
    />

    <!-- Custom styles for this template -->
    <link href="../static/content/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="../static/content/responsive.css" rel="stylesheet" />
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <div class="bg-box">
        <img src="../static/images/hero-bg.jpg" alt="" />
      </div>
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/HealthcareStaff_Main">
              <span> Hospital </span>
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul
                class="navbar-nav mx-auto no-bullets"
                style="padding-left: 700px; padding-top: 15px"
              >
                <li class="nav-item">
                  <a
                    class="nav-link"
                    onclick="window.location.href='/LogoutController'"
                    >Log Out</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
    </div>

    <section class="image_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h1>Dr. {{dname}}'s Schedule</h1>
        </div>

        <br />

        <br />
        <br />

        <div class="filters-content">
          <div class="row grid">
            {% for doc in doctor %}
            <!-- <form action="{{ url_for('StaffUpdateMedicalRecord') }}" method="post"> -->
            <div>
              <div class="menubox">
                <div class="detail-box">
                  <div>
                    <h3 style="display: inline-block; width: 30%">
                      Department: {{ doc.department }}
                    </h3>
                    <h3 style="display: inline-block; width: 50%">
                      Date/Time: {{ doc._date }} / {{ doc.starttime }} ~ {{
                      doc.endtime }}
                    </h3>
                    <h3 style="display: inline-block; width: 15%">
                      Availability: {{ doc.availability }}
                    </h3>
                  </div>

                  <!-- <div class="options" style="margin: auto; width: 20%">
                    <input
                      type="hidden"
                      name="doctor"
                      value="{{ doc.doctor }}"
                    />
                    <input type="hidden" name="_date" value="{{ doc._date }}" />
                    <input
                      type="hidden"
                      name="starttime"
                      value="{{ doc.starttime }}"
                    />
                    <button class="yellow-button" type="submit">Book</button>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- </form> -->
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <span id="displayYear"></span>

    <!-- jQuery -->
    <script src="../js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="../js/bootstrap.js"></script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- custom js -->
    <script src="../js/custom.js"></script>
  </body>
</html>
